/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Bold.ttf) format("truetype");
  font-weight:600;
}

.superfont {
  font-family: 'Roboto', Arial;
}

.superGlobal {

}
